<div class= "container border" > 
    <a class="btn btn-success mt-sm-3" role="button" (click)="open(content)">Adicionar Cliente</a>

    <hr>
    <table class= "table table-bordered table-striped" > 
      <thead> 
      <tr> 
        <th>#</th> 
        <th>Nome Fantasia</th> 
        <th>Sobrenome | Razão social</th> 
        <th>RG | IE</th> 
        <th>CPF | CNPJ</th> 
        <th>Dt.Nascimento | Dt.Abertura</th> 
        <th>Ações</th> 
      </tr> 
      </thead> 
      <tbody> 
      <tr  *ngFor= "let customer of customers" > 
        <td><span>{{customer.id}}</span></td>
        <td><span>{{customer.nome_nomeFantasia}}</span></td>
        <td><span>{{customer.sobrenome_RazaoSocial}}</span></td>
        <td><span>{{customer.RG_IE}}</span></td>
        <td><span>{{customer.CPF_CNPJ}}</span></td>
        <td><span>{{customer.DataNascimento_DataAbertura}}</span></td>
        <td>
          <a class="btn btn-info mx-1" href="#" role="button">Detalhes</a>
          <a class="btn btn-warning mx-1" href="#" role="button">Editar</a>
          <a class="btn btn-danger mx-1" href="#" role="button">Remover</a>
        </td>
      </tr> 
      </tbody> 
    </table> 
  </div>


  <ng-template #content let-modal>

    <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Adicionar Cliente</h4>
    </div> -->

    <div class="modal-body p-4">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">


        <li ngbNavItem>
          <a ngbNavLink>Informações Pessoais</a>
          <ng-template ngbNavContent>
            
            <form>
              <div class="form-group">
      
                <br>

                <label for="nome">Nome</label>
                <div class="input-group mb-2">
                  <input id="nome" class="form-control" >
                </div>
      
                <label for="sobrenome">Sobrenome</label>
                <div class="input-group mb-2">
                  <input id="sobrenome" class="form-control" >
                </div>
      

                <div class="row">
                  <div class="col mb-2">
                    <label for="rg" class="form-label">RG</label>
                    <input id="rg" class="form-control" >
                  </div>

                  <div class="col mb-2">
                    <label for="cpf" class="form-label">CPF</label>
                    <input id="cpf" class="form-control" >
                  </div>
                </div>
      
                <div class="row">
                  <div class="col-md-5 mb-2">
                    <label for="DataNascimento" class="form-label">Data de Nascimento</label>
                    <input id="DataNascimento" class="form-control" >
                  </div>
                </div>
              </div>
            </form>

          </ng-template>
        </li>


        <li ngbNavItem>
          <a ngbNavLink>Endereços</a>
          <ng-template ngbNavContent>
            
             <form class="pt-3">
              <div class="form-inline">
                <label for="titulo">Titulo</label>
                <div class="input-group mb-2">
                  <input id="titulo" class="form-control" >
                </div>

                <div class="row">
                  <div class="col mb-2">
                    <label for="cep" class="form-label">CEP</label>
                    <input id="cep" class="form-control" >
                  </div>

                  <div class="col mb-2">
                    <label for="ibge" class="form-label">IBGE</label>
                    <input id="ibge" class="form-control" >
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-2 mb-2">
                    <label for="uf" class="form-label">UF</label>
                    <input id="uf" class="form-control" >
                  </div>
                  
                  <div class="col mb-2">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input id="cidade" class="form-control" >
                  </div>
                </div>

                <div class="row">
                  <div class="col mb-2">
                  <label for="logradouro" class="form-label">Logradouro </label>
                  <input id="logradouro" class="form-control" >
                </div>
      
                <div class="col mb-2">
                  <label for="bairro" class="form-label">Bairro</label>
                  <input id="bairro" class="form-control" >
                </div>
                </div>
                
                <button type="submit" class="btn btn-primary mt-2">Adicionar Endereço</button>
              </div>
            </form>

            <hr>

            <div class="table-wrapper-scroll-y">
              <table class= "table" > 
                <thead> 
                <tr> 
                  <!-- <th>#</th>  -->
                  <th>Titulo</th> 
                  <th>Cidade</th>
                  <th>UF</th> 
                  <th>Ações</th> 
                </tr> 
                </thead> 
                <tbody> 
                <tr> 
                <!-- <tr  *ngFor= "let customer of customers" >  -->
                  <!-- <td><span>{{customer.id}}</span></td> -->
                  <td class="col-md-4"><span>Minha casa é a</span></td>
                  <td class="col-md-4"><span>Rio de Janeiroooooooooo</span></td>
                  <td class="col-md-1"><span>RO</span></td>
                  <td class="col-md-3">
                    <a class="btn btn-sm btn-warning mx-1" href="#" role="button">Editar</a>
                    <a class="btn btn-sm btn-danger mx-1" href="#" role="button">Remover</a>
                  </td>
                </tr> 
                </tbody> 
              </table> 
            </div>

          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">Close</button>
      <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>