<div class= "container border" > 
    <a class="btn btn-success mt-sm-3" role="button" (click)="open(content)">Adicionar Cliente</a>

    <hr>
    <table class= "table table-bordered table-striped" > 
      <thead> 
      <tr> 
        <th>#</th> 
        <th>Nome Fantasia</th> 
        <th>Sobrenome | Razão social</th> 
        <th>RG | IE</th> 
        <th>CPF | CNPJ</th> 
        <th>Dt.Nascimento | Dt.Abertura</th> 
        <th>Ações</th> 
      </tr> 
      </thead> 
      <tbody> 
      <tr  *ngFor= "let cliente of clientes" > 
        <td ><span>{{cliente.id}}</span></td>
        <td><span>{{cliente.nome_nomefantasia}}</span></td>
        <td><span>{{cliente.sobrenome_razaosocial}}</span></td>
        <td><span>{{cliente.rg_ie}}</span></td>
        <td ><span>{{cliente.cpf_cnpj}}</span></td>
        <td><span>{{cliente.datanascimento_dataabertura}}</span></td>
        <td>
          <!-- <a class="btn btn-info mx-1" href="#" role="button">Detalhes</a> -->
          <a class="btn btn-warning mx-1" href="#" role="button" (click)="onEditCliente(content, cliente.id)">Editar</a>
          <a class="btn btn-danger mx-1" href="#" role="button" (click)="onRemoveCliente(cliente.id)">Remover</a>
        </td>
      </tr> 
      </tbody> 
    </table> 
  </div>


  <ng-template #content let-modal>

    <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Adicionar Cliente</h4>
    </div> -->

    <div class="modal-body p-4">
      <ul ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">

        <li ngbNavItem [destroyOnHide]="false">
          <a ngbNavLink>Informações Pessoais</a>
          <ng-template ngbNavContent>
            
            <form name="clientForm" class="pt-3" #fCliente="ngForm" (ngSubmit)="onSubmit(fCliente.value)">

              <div class="row">
                <div class="col-md-2 mb-2">
                  <label for="formIdCliente" class="form-label">Id</label>
                  <input id="formIdCliente" name="formIdCliente" class="form-control" ngModel disabled>
                </div>
                <div class="col-md-10 mb-2">
                  <label for="formNomeCliente" class="form-label">Nome</label>
                  <input #formNomeCliente="ngModel" id="formNomeCliente" name="formNomeCliente" class="form-control" ngModel required>
                  <div *ngIf="formNomeCliente?.errors?.['required'] && !clienteForm" style="font-size: 11px; color: red;"> Campo obrigatório. </div>
                </div>
              </div>

                <div class="form-group mb-2">
                  <label for="formSobrenomeCliente">Sobrenome</label>
                  <div class="input-group">
                    <input #formSobrenomeCliente="ngModel" id="formSobrenomeCliente" name="formSobrenomeCliente" class="form-control" ngModel required>
                  </div>
                  <div *ngIf="formSobrenomeCliente?.errors?.['required']  && !clienteForm" style="font-size: 11px; color: red;"> Campo obrigatório. </div>
                </div>

                <div class="row form-group">
                  <div class="col mb-2">
                    <label for="formRgCliente" class="form-label">RG</label>
                    <input mask="00.000.000-0"  #formRgCliente="ngModel" id="formRgCliente" name="formRgCliente" class="form-control" ngModel required>
                    <div *ngIf="formRgCliente?.errors?.['required']  && !clienteForm" style="font-size: 11px; color: red;"> Campo obrigatório. </div>
                  </div>

                  <div class="col mb-2">
                    <label for="formCpfCliente" class="form-label">CPF</label>
                    <input mask="000.000.000-00" #formCpfCliente="ngModel" id="formCpfCliente" name="formCpfCliente" class="form-control" ngModel required>
                    <div *ngIf="formCpfCliente?.errors?.['required']  && !clienteForm" style="font-size: 11px; color: red;"> Campo obrigatório. </div>
                  </div>
                </div>
      
                <div class="row form-group">
                  <div class="col-md-5 mb-2">
                    <label for="formDataCliente" class="form-label">Data de Nascimento</label>
                    <input type="date" #formDataCliente="ngModel" id="formDataCliente" name="formDataCliente" class="form-control" ngModel required>
                    <div *ngIf="formDataCliente?.errors?.['required']  && !clienteForm" style="font-size: 11px; color: red;"> Campo obrigatório. </div>
                  </div>
                </div>
              <div class="modal-footer mt-4">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="!fCliente.valid">Salvar</button>
              </div>
            </form>
          </ng-template>
        </li>


        <li ngbNavItem [destroyOnHide]="false">
          <a ngbNavLink>Endereços</a>
          <ng-template #contentEndereco ngbNavContent>
            
             <form class="pt-3" #fEndereco="ngForm" (ngSubmit)="onAddEndereco(fEndereco.value); fEndereco.resetForm()">
              <div class="form-group">

                <div class="row">
                  <div class="col-md-2 mb-2">
                    <label for="idEndereco" class="form-label">Id</label>
                    <input id="idEndereco" name="idEndereco" class="form-control" ngModel disabled>
                  </div>

                  <div class="col-md-10 mb-2">
                    <label for="tituloEndereco" class="form-label">Titulo</label>
                    <input id="tituloEndereco" #fTitulo="ngModel" name="tituloEndereco" class="form-control" ngModel required>
                    <div *ngIf="fTitulo?.errors?.['required']" style="font-size: 11px; color: red;"> <p>Campo obrigatório.</p> </div>
                  </div>
                </div>
               
                <div class="row">
                  <div class="col mb-2">
                    <label for="cepEndereco" class="form-label">CEP</label>
                    <input mask="00000-000" #fCep="ngModel" id="cepEndereco" name="cepEndereco" class="form-control" ngModel required>
                    <div *ngIf="fCep?.errors?.['required']" style="font-size: 11px; color: red;"> Campo obrigatório. </div>
                  </div>

                  <div class="col mb-2">
                    <label for="ibgeEndereco" class="form-label">IBGE</label>
                    <input mask="0000000" #fIbge="ngModel" id="ibgeEndereco" name="ibgeEndereco" class="form-control" ngModel required>
                    <div *ngIf="fIbge?.errors?.['required']" style="font-size: 11px; color: red;"> Campo obrigatório. </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-2 mb-2">
                    <label for="ufEndereco" class="form-label">UF</label>
                    <input mask="UU" id="ufEndereco" #fUf="ngModel" name="ufEndereco" class="form-control" ngModel required>
                    <div *ngIf="fUf?.errors?.['required']" style="font-size: 11px; color: red;"> Campo obrigatório. </div>
                  </div>
                  
                  <div class="col mb-2">
                    <label for="cidadeEndereco" class="form-label">Cidade</label>
                    <input id="cidadeEndereco" #fCidade="ngModel" name="cidadeEndereco" class="form-control" ngModel required>
                    <div *ngIf="fCidade?.errors?.['required']" style="font-size: 11px; color: red;"> Campo obrigatório. </div>
                  </div>

                  <div class="col-md-2 mb-2">
                    <label for="numeroEndereco" class="form-label">Número</label>
                    <input mask="0*" #fNumero="ngModel" id="numeroEndereco" name="numeroEndereco" class="form-control" ngModel required>
                    <div *ngIf="fNumero?.errors?.['required']" style="font-size: 11px; color: red;"> Campo obrigatório. </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col mb-2">
                  <label for="logradouroEndereco" class="form-label">Logradouro </label>
                  <input id="logradouroEndereco" #fLogradouro="ngModel" name="logradouroEndereco" class="form-control" ngModel required>
                  <div *ngIf="fLogradouro?.errors?.['required']" style="font-size: 11px; color: red;"> Campo obrigatório. </div>
                </div>
      
                <div class="col mb-2">
                  <label for="bairroEndereco" class="form-label">Bairro</label>
                  <input id="bairroEndereco" #fBairro="ngModel" name="bairroEndereco" class="form-control" ngModel required>
                  <div *ngIf="fBairro?.errors?.['required']" style="font-size: 11px; color: red;"> Campo obrigatório. </div>
                </div>
                </div>
                
                <div >
                  <button type="submit" class="btn btn-primary mt-2" [disabled]="!fEndereco.valid">Adicionar Endereço</button>
                </div>
              </div>
            </form>

            <hr>
            
            <div class="table-wrapper-scroll-y">
              <table class= "table" > 
                <thead> 
                <tr> 
                  <!-- <th>#</th>  -->
                  <th>#</th> 
                  <th>Titulo</th> 
                  <th>Cidade</th>
                  <th>UF</th> 
                  <th>Ações</th> 
                </tr> 
                </thead> 
                <tbody> 
                <tr> 
                <tr  *ngFor= "let form of enderecosForm" > 
                  <td><span>{{form.idForm}}</span></td>
                  <td><span>{{form.endereco.titulo}}</span></td>
                  <td><span>{{form.endereco.cidade}}</span></td>
                  <td><span>{{form.endereco.uf}}</span></td>
                  <td class="col-md-3">
                    <!-- <a class="btn btn-sm btn-warning mx-1" href="#" role="button" (click)="onEditEndereco(contentEndereco, form.idForm)">Editar</a> -->
                    <a class="btn btn-sm btn-danger mx-1" href="#" role="button" (click)="onRemoveEndereco(form.idForm); fEndereco.resetForm()">Remover</a>
                  </td>
                </tr> 
                </tbody> 
              </table> 
            </div>

          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
      
    </div>
   
  </ng-template>